@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.custom-font {
  font-family: 'Rubik', sans-serif;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-blue: #bfd7ea;
  --color-ghost-white: #f5f7f8;
  --color-blue: #0B3954;
  --color-deep-teal: #087e8b;
  --color-border-gray: oklch(.922 0 0);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Rubik', sans-serif;
}
